@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --key-margin-right: 50px;
  }
  img {
    @apply w-auto;
  }
}

@layer components {
  .gamekey_container {
    @apply flex min-w-[9rem] max-w-[9rem] flex-col items-center gap-12 desktop:min-w-[20rem] desktop:max-w-[20rem] desktop:justify-between;
  }

  .ripple-span {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid hsl(217, 16%, 45%);
    background-color: hsl(217, 16%, 45%);
    pointer-events: none;
    animation: rippleEffect 3s linear infinite;
    animation-delay: calc(0.5s * var(--ripple-delay));
    z-index: -1;
  }

  @keyframes rippleEffect {
    0% {
      width: 0;
      height: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }

  .scissors {
    background-image: url("../../public/assets/icon-scissors.svg");
    border: 12px solid theme("colors.primary.scissors.900");
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.primary.scissors.50");
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.primary.scissors.50");
    justify-self: start;
    margin-left: var(--key-margin-right);
  }

  .rock {
    background-image: url("../../public/assets/icon-rock.svg");
    border: 12px solid theme("colors.primary.rock.900");
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.primary.rock.50");
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.primary.rock.50");
    @apply col-span-2;
    align-self: start;
    margin-top: var(--key-margin-right);
  }

  .paper {
    background-image: url("../../public/assets/icon-paper.svg");
    border: 12px solid theme("colors.primary.paper.900");
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.primary.paper.50");
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.primary.paper.50");
    justify-self: end;
    margin-right: var(--key-margin-right);
  }

  .skeleton {
    border: 12px solid theme("colors.header-outline");
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.header-outline");
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2),
      0 6px theme("colors.header-outline");
  }

  .gamekey {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    @apply h-32 w-32;
  }
}
